<h1>
  <% if current_candidate.name.blank? %>
    <%= "Bem vindo ao seu perfil!" %>
  <% else %>
    <%= "Bem vindo ao seu perfil, #{current_candidate.name} #{current_candidate.last_name}!" %>
<% end %>
</h1>

<% if @profile.image.attached?  %>
  <%= image_tag @profile.image %>
<% end %>

<%= render partial: 'profile', locals: {profile: @profile} %>

<%= link_to 'Editar meu perfil', edit_profile_path(current_candidate.profile) %>

<%= link_to 'Ir para vagas!', jobs_path %>