<h1><%= @application.job.title %></h1>
<br>

<% if @application.feedback %>
  <div class="rejection_container">
    <h2>Mensagem do recrutador:</h2>
      <%= @application.feedback.feedback_message %>
  </div>
<% end %>

<div>
<% if @application.proposal %>
  <h2>Você tem uma proposta para essa candidatura!</h2>
  <%= link_to 'Ver Proposta', application_proposal_path(@application, @application.proposal) %>
<%  end %>
</div>

<h2>Mensagem ao CodeHunter:</h2>
<br>
<%= @application.message %> <br>
<%= link_to 'Editar mensagem', root_path unless @application.status == 'rejected' || headhunter_signed_in? %>
<br>

<%= render partial: 'headhunter_options', locals: {application: @application} %>

<%= link_to 'Ir para descrição da vaga', job_path(@application.job_id) %>
<br>

<% if candidate_signed_in? && @application.status != 'rejected' %>
  <%= link_to 'Cancelar Inscrição', application_path, method: :delete %>
<% end %>

<div>
<% if @application.messages.any? %>
  <h3>Mensagens</h3>
  <% @application.messages.each do |message| %>
    <div>
      <p>Enviada há <%= distance_of_time_in_words(message.created_at, Time.zone.now) %></p>
      <%= message.comment %>
    </div>
  <% end %>
<% end %>
</div>


