<%= @job.title %>

<table>
  <caption><%= t('.candidates') %></caption>
  <tr>
    <th><%= t('.full_name') %></th>
    <th><%= t('.application_status') %></th>
    <th><%= t('.profile') %></th>
  </tr>
  <% @job.applications.each do |application| %>
  <tr>
      <td><%= "#{application.candidate.profile.name} #{application.candidate.profile.last_name}" %></td>
      <td>
        <% if application.in_progress? %>
          Em andamento
        <% elsif application.highlighted? %>
          Em destaque
        <% else %>
          Cancelado
        <% end %>
      </td>
      <td><%= link_to 'Ver Perfil', application %></td>
  </tr>
  <% end %>
</table>