<h1>Todas as vagas</h1>

<% if @jobs.any? && @jobs.statuses != 'close'  %>
  <div class="container">
    <% @jobs.each do |job| %>
      <% if job.status != 'close' && job.status != 'not_public' %>
        <div class="container__job">
          <div class="container__job-title"><%= "#{job.title} - #{pluralize(job.number_of_vacancies, 'vaga', 'vagas')}" %></div>
          <div class="container__job-level"><%= job.level %></div>
          <div class="container__job-contract_type"><%= job.contract_type %></div>
          <div class="container__job-details"><%= link_to 'Ver detalhes', job  %></div>
        </div>
      <% else %>
        <h2>Que pena! Não há vagas públicas listadas no momento.</h2>
      <% end %>
    <% end %>
  </div>
<%else %>
  <% unless headhunter_signed_in? %>
    <h2>Que pena! Não há vagas públicas listadas no momento.</h2>
  <% else %>
    <h2>Não há vagas cadastradas! Que tal ser o primeiro? Basta <%= link_to 'clicar aqui', new_job_path %>! :)</h2>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>