<h1>Propostas Recebidas</h1>
<% if @proposals.any? %>
  <table>
    <tr>
      <th>Titulo do trabalho</th>
      <th>Data de Inicio</th>
      <th>Status</th>
    </tr>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= link_to proposal.application.job.title, application_proposal_path(proposal.application_id, proposal.id) %></td>
        <td><%= l(proposal.start_date) %></td>
        <td><%= t(proposal.status) %></td>
        <% if proposal.status == 'pending' %>
          <td><%= link_to 'Aceitar', proposal_accept_path(proposal) %></td>
          <td><%= link_to 'Recusar', proposal_decline_path(proposal) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>Não há propostas, ainda, para as suas candidaturas.</h2>
<% end %>
